@import "tailwindcss";
@config "../../tailwind.config.js";

@theme {
  --color-accent: #853ad0;
  --color-accent2: #5a258e;
  --color-transparent-background: #1c1c1cd3;
  --color-background: #1c1c1c;
  --color-alice: #f0f8ff;
}

.debug {
  outline: 2px solid red;
}

.content-wrapper {
  width: clamp(580px, 80%, 1100px);
}

.highlight {
  color: var(--accent);
  
  font-weight: 600;
}

.link {
  color: var(--accent);
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  scroll-padding: 20px 0px 0px 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
